<div class="ui container segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Ville départ</th>
        <th>Ville arrivée</th>
        <th>Nombre de kilomètres</th>
        <th>Date</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trajets of valueRetour">
        <td>{{ trajets.villeDep }}</td>
        <td>{{ trajets.villeArr }}</td>
        <td>{{ trajets.nbKm }}</td>
        <td>{{ trajets.date.date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>{{ trajets.nom }}</td>
        <td>{{ trajets.prenom }}</td>
        <td> <button (click)="detail.getDetail(trajets.id)">More</button><br></td>
      </tr>
    </tbody>
  </table>
  <table class="ui table">
    <thead>
      <tr>
        <th>Ville départ</th>
        <th>Ville arrivée</th>
        <th>Nombre de kilomètres</th>
        <th>Date</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Mail</th>
        <th>Nom marque</th>
        <th>Modèle</th>
        <th>Nombre de places</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trajetsDetail of detail.valueRetour">
        <td>{{ trajetsDetail.villeDep }}</td>
        <td>{{ trajetsDetail.villeArr }}</td>
        <td>{{ trajetsDetail.nbKm }}</td>
        <td>{{ trajetsDetail.date.date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>{{ trajetsDetail.nom }}</td>
        <td>{{ trajetsDetail.prenom }}</td>
        <td>{{ trajetsDetail.tel }}</td>
        <td>{{ trajetsDetail.mail }}</td>
        <td>{{ trajetsDetail.marqueNom }}</td>
        <td>{{ trajetsDetail.modele }}</td>
        <td>{{ trajetsDetail.nbPlaces }}</td>
      </tr>
    </tbody>
  </table>
</div>
