<div class="ui container segment">
  <table class="ui table">
    <thead>
      <tr>
        <th>Ville départ</th>
        <th>Ville arrivée</th>
        <th>Nombre de kilomètres</th>
        <th>Date</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trajets of valueRetour">
        <td>{{ trajets.villeDep }}</td>
        <td>{{ trajets.villeArr }}</td>
        <td>{{ trajets.nbKm }}</td>
        <td>{{ trajets.date.date }}</td>
        <td>{{ trajets.nom }}</td>
        <td>{{ trajets.prenom }}</td>
        <td><a routerLink="/trajet/{{trajets.id}}">More</a></td>
      </tr>
    </tbody>
  </table>
</div>
